QMainWindow{
  background-color: #fcfcfc;
}
QToolBar{
  background-color: #000000;
  min-width: 50px;
}

QPushButton{
  background-color: transparent;
}
QPushButton:focus {
border:none;
outline:none;
}

QPushButton#folder:focus {
  background-color: #c6c6c6;
border:none;
outline:none;
}

QPushButton#folder{
  text-align:left;
  text-indent: 1.5em;
  background-color: transparent;
  background-image:url(':/icons/sourse/icon/folder.png');
  background-repeat:no-repeat;
  background-position: left;
  border: 0px;
}

QPushButton#folder:hover{
  background-color: #dadada;

  background-repeat:no-repeat;
  background-position: left;
  border: 0px;
}





QVBoxLayout#right{

}

QTextEdit#textW{
  border:0px;
  background-color: #fcfcfc;
}


QFrame#write{
  background-color: #fcfcfc;
}

QFrame#info{
  background-color: #fcfcfc;
}


QListView#listmessege{
  border: 0px;
}
